.DS_Store
/bootstrap
/function.zip
/vendor
*.o
*.a
*.so
.dylib
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib
.DS_Store
*.out
go.sum
sam-tests/
.aws-sam/
build/
.env
.env.local
*.log

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.json
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
